@media screen and (max-width: 1120px) {
    .main__content-box {
        grid-template-columns: 1fr;
    }
    .content-left-block {
        max-width: 520px;
    }
    .content-left-block img {
        width: 100%;
        object-fit: contain;
    }
    .about__title-block{
        width: 100%;
    }
    
    .about__info {
        width: 100%;
    }
    .about__info-img {
       width: 100%;
    }
    .categoria-box {
        max-width: 100%;
    }
    .social__box {
        gap: 10px;
        margin-bottom: 8px;
    }
    .soc-block {
        width: 35%;
    }
}